@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:100,300);

html {
    height: 100%;
}

body.pb-app {
    background-color: #f44336;
    color: White;
    height: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;

    &.pb-app-state-rest {
        background-color: #888;

        .pb-content .pb-buttons .btn-default {
            background-color: #aaa;

            &:hover {
                background-color: #f44336;
            }
        }
    }

    .pb-content {

        width: 500px;
        height: 500px;

        position: absolute;
        top: 50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        text-align: center;

        .pb-pomodoro-counter-wrapper {
            font-size: 36pt;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }

        .pb-clock {
            font-size: 130pt;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;

            div {
                display: inline-block;
            }
        }

        .pb-buttons {
            width: 500px;

            .btn-default {
                font-size: 36pt;
                line-height: 90px;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 300;
                text-transform: uppercase;
                background-color: #d24439;
                color: #fff;
                border: none;
                height: 100px;
                width: 240px;
                float: left;

                &:hover {
                    background-color: #de3c31;
                }
            }

            .pb-btn-stop {
                float: right;
                width: 50%;
            }
        }

    }
}