<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pomodoro Beaver Alpha</title>
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/lib/bootstrap.min.js"></script>
</head>
<body class="pb-app">
<div class="pb-content">
    <div class="pb-pomodoro-counter-wrapper">
        Pomodoro #<span class="pb-pomodoro-counter">1</span>
    </div>
    <div class="pb-clock">
        <div class="pb-clock-minutes">00</div>:<div class="pb-clock-seconds">00</div>
    </div>
    <div class="pb-buttons">
        <div class="pb-btn-start btn btn-default">Start</div>
        <div class="pb-btn-pause btn btn-default" style="display: none">Pause</div>
        <div class="pb-btn-stop btn btn-default" style="display: none">Stop</div>
    </div>
</div>
</body>
</html>